{% extends "StorManager/base.html" %}

{% block content %}



    {% load static %}

    {% if messages %}
        {% for message in messages %}
        <br/>
        <div>
            <center>
                <div  style="padding:1rem;  border:solid 2px #FF69B4; border-radius:15px; width:40%; display:flex; justify-content:center;align-centent:center;" class="alert {% if message.tags == 'success' %}alert-success{% elif message.tags == 'warning' %}alert-warning{% elif message.tags == 'error' %}alert-danger{% endif %}">
                    <p >
                        <b> {{ message }}.</b>
                    </p>
                </div>
            </center>
        </div>

        {% endfor %}
    {% endif %}

    <div style="padding:1rem">
        <center>
            <div id="msgDiv" hidden style="padding:1rem;  border:solid 2px white; border-radius:15px; width:40%; display:flex; justify-content:center;align-centent:center;" >
            
            </div>
        </center>
    </div>
    <style>
        
    </style>


    <div class="container" style="display: flex;justify-content: center;align-items: center; ">
        <div class="row" >
            <div id="itemImangeDive" class="col-md-6" style="border-radius:20px;border:solid 1px white;border-right: none;display: flex;justify-content: center;align-items: center; padding:10px; " >
                <img id="ItemVisual_selected" style="width:inherit; width:100%;border-radius:12px" src="http://{{domain}}/media/{{item.ItemVisual}}" />
            </div>
            <div class="col-md-4" id="ItemInfoDiv"  style="border:solid 1px white;border-left: none;border-radius:20px; padding:10px; ">
                <form method="post"  enctype="multipart/form-data" style="color:white">
                    {% csrf_token %}
                    <div id="HolderInput">
                        <label class="form-label" ><b>Item Name</b></label>
                        <input  type="text"  name="ItemName" value="{{item.ItemName}}" class=" form-control form-control-lg"/>
                    </div> 
                    <div>
                        <label class="form-label" ><b>Price</b>*</label>
                        <input value="{{item.Price}}" type="text" name="Price" placeholder="R0.00" class="form-control form-control-lg"/>
                    </div> 
                    
                    <div>
                        <label class="form-label" ><b>Quantity</b>*</label>
                        <input value="{{item.Quantity}}" type="number" name="Quantity"  class="form-control form-control-lg"/>
                    </div> 
                   
                    <div>
                        <label class="form-label" ><b>Description</b>*</label>
                        <textarea type="text" name="ItemDescription"  class="form-control form-control-lg">{{item.ItemDescription}}</textarea>
                        <input  accept="image/*" id="ItemVisualIput"  hidden type="file" name="ItemVisualIput"/>
                    </div>
                    <div >
                        <br/>
                        <!--id="ItemVisual_selected"-->
                        <div style="padding:10px">
                            <button type="submit"  style="min-height:40px;height:auto; cursor:pointer;padding:10px;border-radius:100px;  " class="form-control form-control-lg btn btn-default btn bg-success">
                        
                                <h5 class="" style="color:white" ><b>Save Changes</b></h5>
                            
                                
                            </button>

                        </div>
                        
                        
                        
                       <div  style="padding:10px">
                            <a href="{% url 'itemDetails' itemId=item.ItemId %}" style="border-radius:100px; width:100%;height:auto;background-color:#cc3300;color:white; display:flex; justify-content:center "  class="form-control form-control-lg text-center" >
                                <b>Cancel</b>
                            </a>
                       </div>
        
                    </div>
                
                    
                </form>
            </div>

          
        

        </div>


    </div>

        <script>

           
            //script for validating image
            ItemVisual_selected = document.getElementById("ItemVisual_selected");
            ItemVisualIput = document.getElementById('ItemVisualIput');
            msgDiv = document.getElementById('msgDiv');
            console.log(ItemVisual_selected)
            ItemVisual_selected.addEventListener('click',function(){
                ItemVisualIput.click()
            })
            ItemVisualIput.addEventListener("change",function() {
               // ItemVisual_selected.innerHTML= '<h6 class="text-info" style="color:#fa1414"><b>uploading image file... please wait.</b></h6>';
               
               is_valid=  UploadIsValid(ItemVisualIput.files[0])
               if (is_valid == true){
                    const reader = new FileReader();
                
                    reader.onload = function(event) {
                        ItemVisual_selected.src = event.target.result;
                    }
                    reader.readAsDataURL(ItemVisualIput.files[0]);
                    
                }
                return null;
            });
            function UploadIsValid(file){
                is_valid = false;
                msg = "";
                var ext = file.name.split('.').reverse()[0] 
                oldFilrName = file.name
                console.log(file)
                //first we check the file size
                if(file.size > (5*1024*1024)){
                    msg= "All files must not exceed 5mb in size.";
                    
                    ItemVisualIput.value =null;
                    
                }
                else if( file.size < (5*1024*1024)){
                    // next is the file type
                    is_valid = checkfile(ext);
                    if (is_valid == true){
                       // ItemVisual_selected.innerHTML= '<h6 class="text-success">'+ItemVisualIput.files[0].name+'.</h6>';
                    }
                    else if(is_valid == false){
                        ItemVisualIput.value =null;
                      
                       msg += "\nPlease all files must be of jpeg/png/jpg.";
                    }
                  
                }
                if(is_valid == false){
                    msgDiv.innerHTML = '<p style="color:white"><b>'+msg+'</b></p>';
                    msgDiv.hidden = false;
                }   
               
                return   is_valid
                
            }
            function checkfile(ext){
                is_valid = false;
                if ( ext ==  "jpeg"){
                   
                    is_valid = true;

                    
                }
                else if ( ext ==  "png"){
                   
                    is_valid = true;
                }
                else if ( ext ==  "jpg"){
                   
                    is_valid = true;
                }
               
                return is_valid
            }


            //Submitting the Changes
            submitDiv = document.getElementById('submitDiv');
            submit = document.getElementById("BTNsubmit");
            submit.addEventListener('click', function(){
                submitDiv.click();
            })
        </script>
{% endblock %}