{% extends "StorManager/base.html" %}

{% block content %}
    {% load static %}

    {% if messages %}
        {% for message in messages %}
        <br/>
        <div>
            <center>
                <div style="padding:1rem; background-color:azure; border:solid 2px #284678; border-radius:15px; width:auto">
                <p style="color:#fa1414">
                    <b> {{ message }}.</b>
                </p>
                </div>
            </center>
        </div>

        {% endfor %}
    {% endif %}
    

    <div class="container">
  
        <form method="post" style="color:white">
            {% csrf_token %}
            <div>
                <label class="form-label" ><b>Estore Name</b></label>
                <input value="{{estore.EstoreName}}" type="text" required name="EstoreName"  class="form-control form-control-lg"/>
            </div> 
            <div>
                <label class="form-label" ><b>Phone Number</b></label>
                <input value="{{estore.PhoneNumber}}" required type="text" name="PhoneNumber"  class="form-control form-control-lg"/>
            </div> 
            <div>
                <label class="form-label" ><b>Email Address</b></label>
                <input value="{{estore.EmailAddress}}" type="text" name="EmailAddress"  class="form-control form-control-lg"/>
            </div> 
            <div>
                <label class="form-label" ><b>Address</b></label>
                <input value="{{estore.Address}}"  type="text" name="Address"  class="form-control form-control-lg"/>
            </div> 
            
            <div>
                <label class="form-label" ><b>Description</b></label>
                <textarea required type="text" name="Description"  class="form-control form-control-lg">{{estore.Description}}</textarea>
            </div> 
           
            <div style="display:flex; justify-content:center; padding: 1rem">
                
                <input type="submit" style="border-radius:100px; width:40%;background-color:#284678;color:white "  class="form-control form-control-lg" value="Submit and Continue" />
            </div>  
        </form>


    <div>

{% endblock %}
