{% extends "StorManager/base.html" %}


{% block content %}
    <style>
        #subManuItemHolder{
            padding:4px;

        }

    </style>
    {% load static %}

    {% if messages %}
        {% for message in messages %}
        <br/>
        <div>
            <center>
                <div style="padding:1rem; border-radius:15px; width:auto; display:flex; justify-content:center;align-centent:center;" class="alert {% if message.tags == 'success' %}alert-success{% elif message.tags == 'warning' %}alert-warning{% elif message.tags == 'error' %}alert-danger{% endif %}">
                    <p>
                        <b> {{ message }}</b>
                    </p>
                </div>
            </center>
        </div>

        {% endfor %}
    {% endif %}
    {% if orderItem.PartOrFull == "part"  and  selectedItemsCount > 0 %}
        <div style="display:flex; justify-content:space-between; padding:1rem">
            <div>
            
            </div>
            <div>
                <a class="btn btn-default btn-success" href="{% url 'ItemsList' %}">Continue shopping</a>   
            </div>
        </div>
        <hr style="background-color:white"/>
    {% endif %}
    <div class="container" style="display: flex;justify-content: center;align-items: center; ">
        <div class="row" >
            <div id="itemImangeDive" class="col-md-6" style="border-radius:20px;border:solid 1px white;border-right: none;display: flex;justify-content: center;align-items: center; padding:10px; " >
                <img id="ItemVisual_selected" style="width:inherit; width:100%;border-radius:12px" src="http://{{domain}}/media/{{orderItem.itemId.ItemVisual}}" />
            </div>
            <div class="col-md-4" id="ItemInfoDiv"  style="border:solid 1px white;border-left: none;border-radius:20px; padding:10px; ">
                <form method="post"  enctype="multipart/form-data" style="color:white">
                    {% csrf_token %}
                    <div id="HolderInput">
                        <label class="form-label" ><b>Item Name: </b>{{orderItem.itemId.ItemName}}</label>
                        
                    </div> 
                    <div>
                        <label class="form-label" ><b>Full package price: </b>{{orderItem.itemId.Price}}</label>
                       
                    </div> 
                    
                     
                   
                    <div>
                        <label class="form-label" ><b>Description:</b></label>
                        <textarea disabled type="text" name="ItemDescription"  class="form-control form-control-lg">{{orderItem.itemId.ItemDescription}}</textarea>
                        <input disabled  accept="image/*" id="ItemVisualIput"  hidden type="file" name="ItemVisualIput"/>
                    </div>
                    <hr style="background:white"/>
                    <div >
                        <br/>
                        <!--id="ItemVisual_selected"-->
                        <div  style="min-height:40px;height:auto; cursor:pointer;padding:10px; display:flex; flex-direction:column  ; justify-content:space-between; align-content:center">
                        
                            
                           {% if orderItem.PartOrFull != "part" or  selectedItemsCount == 0 %}        
                                <a href="{% url 'purchaseFullPack' OrderItemId=orderItem.OrderItemId %}" class="btn btn-default btn-dark" style="width:100%" href="#">Purchase full package<i class="fas  fa-shopping-cart cart-icon"></i></a><br/>
                                
                                <h1><b><i>Or</i></b></h1>
                            {% endif %}
                            <div>

                                <p>

                                    <h2><b><i>Select from the list of the package items below.<i class="fas fa-arrow-down"></i></i></b></h2>
                                </p>
                            </div>
                            
                            
                            
                        </div>
                        
                       
                        </button>
                       
                        {% if access == "update"%}
        
                        <h5 class="text-warning"><b>Click to update file</b></h5>
                        {% endif %}
        
                    </div>
                
                    
                </form>
            </div>

            {% if item.ItemType == "package"%}

                {% if PackageItems %}
                <br/>
                <br/>
                <div style="width:100%; padding:1rem; border:solid 1px white; border-top:none;border-right:none;border-radius:20px ">
                    
                    <div class="text-center"style="color:white" >
                        <h2><u><b>Package Items</b></u></h2>
                    </div>
                    <div class="row">

                        {% for item in PackageItems %}
                            <div class="col-lg-6 mb-4" >
                                <div style="width:100%" onclick="districtGo({{district.DistrictId}})" id="Districtitem" class="card  text-white shadow btn btn-outline-secondary" >
                                    <div  class="card-body" style="color: #FF69B4;padding:1rem;">
                                        <div>
                                            <h4><b>{{item.PackageItemName}}</b></h4>
                                        </div>
                                        <div style="justify-content:center; align-content:center;">
                                            <b>R{{item.Price}}</b><br/>
                                            <b>Quantity: </b>{{item.Quantity}}
                                        </div>
                                        
                                
                                        
                                    </div>
                                </div>
                            </div>
                        
                    
                        {% endfor %}
                    </div>
                <div>
                {% else %}   
                    <div style="width:100%">
                        <br/>
                            
                            <div style="padding:1rem; border:solid 2px red;color:red; width:84%" class="text-center">
                                    <h4><b>No Items add yet.</b></h4>
                            </div>

                    </div>  
                {% endif %}




            {% endif %}
        

        </div>


    </div>


    {% if PackageItems %}
        <br/>
        <br/>
        <div style="width:100%; padding:1rem; border:solid 1px white; border-top:none;border-right:none;border-radius:20px ">
            
            <div style="color:white" >
                <h2><u><b>Package Items</b></u></h2>
            </div>
            <div class="row">

                {% for item in PackageItems %}
                <div class="col-lg-6 mb-4" >
                    <div style="width:100%; "   class="card  text-white shadow " >
                        <div  class="card-body" style="color: #FF69B4;padding:1rem;display:flex; justify-content:center">
                            <div>
                                <h4><b>{{item.PackageItemName}}</b></h4>
                                <b>R{{item.Price}}</b><br/>
                            </div>
                            <div style="justify-content:center; align-content:center;">
                                
                               
                            </div>
                            <hr/>
                            <div style="display:flex; justify-content:space-between; align-content:center">
                                
         
                               
                                <form method="post" style="display:flex;flex-direction:column; justify-content:center">
                                    {% csrf_token %}
                                    <input type="hidden" value="{{item.PackageItemId}}" name="PackageItemOrderId"/>
                                    <button  title="Add this item?"  type="submit" style="background:none; border:none;color: #FF69B4">
                                        <i class="fas fa-shopping-cart  cart-icon"></i>+
                                    </button>
                                   
                                </form>
                            </div>
                            
                        </div>
                    </div>
                </div>
                
            
                {% endfor %}
            </div>
        </div>
    {% else %}   
        <div style="width:100%">
            <br/>
                
                <div style="padding:1rem; border:solid 2px red;color:red; width:84%" class="text-center">
                        <h4><b>No Items add yet.</b></h4>
                </div>

        </div>  
    {% endif %}




    {% if PackageItems and selectedItemsCount > 0 %}
    <hr style="background-color:white;"/>
        <br/>
        <br/>
        <div style="color:white">
            <h3>selected items</h3>

        </div>
        <div style="width:100%; padding:1rem; border:solid 1px white; border-top:none;border-right:none;border-radius:20px ">
            
            
            <div class="row">

                {% for item in selectedItems %}
                <div class="col-lg-6 mb-4" >
                    <div style="width:100%; "   class="card  text-white shadow " >
                        <div  class="card-body" style="color: #FF69B4;padding:1rem;display:flex; justify-content:center">
                            <div>
                                <h4><b>{{item.PackageItemId.PackageItemName}}</b></h4>
                                <b>R{{item.PackageItemId.Price}}</b><br/>
                            </div>
                            <div style="justify-content:center; align-content:center;">
                                
                               
                            </div>
                            <hr/>
                            <div style="display:flex; justify-content:space-between; align-content:center">
                                
         
                               <a style="color: #FF69B4;" title="Remove this item?" href="{%url 'RemoveOrderPackageItem' packageItemOrderId=item.PackageItemOrderId %}"><i class="fas fa-shopping-cart  cart-icon"></i>-</a>
                                <form method="post" style="display:flex;flex-direction:column; justify-content:center">
                                    {% csrf_token %}
                                    <input type="hidden" value="{{item.PackageItemId}}" name="PackageItemOrderId"/>
                                   
                                   
                                </form>
                            </div>
                            
                        </div>
                    </div>
                </div>
                
            
                {% endfor %}
            </div>
        </div>
    {% endif %}
{% endblock %}